# General
.vscode
.DS_Store
*.dSYM
*backup*
*.o
*.a
*.py
*.pyc
*.out
*.log
*.txt
*.sh

# specific
ft_malloc.h
src/
ft_malloc/
get_next_line/*
get_next_line
$*
tests/
expander/libft/
minishell-lib/

# tester
42_minishell_tester/